# these are example config values defined to be used by the elation app
# in order to implement your own, you must create a application.conf file
Elation {
  client_id = "somerandomclient",
  client_secret = "secrets",
  grant_type = "password",
  username = "somerandomclient@api.elationemr.com",
  password = "passtheword",
  endpoint = "sandbox.elationemr.com"
}
redox {
  apiKey = "aaaaaaaa"
  secret = "rEdOxSeCrEtS"
  restApiBase = "https://api.redoxengine.com"
  destinationId = "aa-bb-cc"
  destinationName = "ACPNY IT US"
}
akka {
  logger-startup-timeout = 60s
}